#
# Load this configuration into your shell environment using:
#
# source dev-hubot.config
#
# PLEASE 'cp dev-hubot.config secret-dev-hubot.config',
# if you want to keep a copy of this script with your
# KEYS and other secrets in it. Git will ignore it.
#

export BIND_ADDRESS="0.0.0.0"
export ENVIRONMENT="development"
export SERVICE_NAME="mybot"
export SERVICE_ENV="development"
export EXPRESS_USER="mybot"
export EXPRESS_PASSWORD="REDACTED"
export PORT="8080"
export HUBOT_ADAPTER="slack"
export HUBOT_ALIAS="hu"
export HUBOT_NAME="mybot"
export HUBOT_LOG_LEVEL="debug"
export REDIS_URL="redis://127.0.0.1:6379"
export HUBOT_SLACK_TOKEN="redacted"
